/*----------------Tab Box----------------*/
.tab-box {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items:center ;
    text-align: center;
    padding: 10px; 
    width: 150px;
    height: 90px;

    background-color: rgb(163, 229, 132);
    border: 6px solid rgb(59, 160, 13);
    border-radius: 15px;
}

.tab-box:hover {
    background-color: black;
    color: rgb(163, 229, 132);
    transition: .4s ease;
}

/*----------------Green Button----------------*/
.green-btn {
  white-space: nowrap;
  font-family: 'Arial';
  font-weight: bold;  

  background-color: rgb(0, 161, 0);
  color: white;

  border-radius: 1.5vh;
  border: none;
  box-shadow: 0px 0px 5px black;
}

.green-btn:hover {
  background-color: white;
  color: rgb(0, 161, 0); 
  transition: 0.2s ease;
} 

/*----------------Blue Button----------------*/
.blue-btn {
  white-space: nowrap;
  font-family: 'Arial';
  font-weight: bold;  

  background-color: rgb(74, 146, 255);
  color: white;

  border-radius: 1.5vh;
  border: none;
  box-shadow: 0px 0px 5px black;
}

.blue-btn:hover {
  background-color: white;
  color: rgb(74, 146, 255); 
  transition: 0.2s ease;
}