html, body {
  margin: 0px;
}

/*-------------------------Main header-------------------------------*/
.topnav {
  border-bottom: 4px solid rgb(0, 0, 0);
  background-color: rgb(56, 56, 56);
  min-height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
}


/*=========Off Screen Menu========*/
/*The lines between the tabs*/
hr {
  border: 1.5px solid white;
}

/*Off screen menu properties*/
.off-screen-dropdown-menu {
  background-color: rgb(56, 56, 56);
  width: fit-content; 
  padding: 30px; 
  padding-bottom: 80px;
  transition: .4s ease;
  position: absolute;
  top: 64px;
  left: -450px;
  transition: 0.4s ease;
}

/*Text for the tabs*/
ul li a {
  text-decoration: none; 
  color: white;
  font-size: 30px;
}

/*Off screen menu properties when active*/
.off-screen-dropdown-menu.active {
  left: 0;
  z-index: 10; 
}

/*========Hamburger Menu Icon=======*/
/*Hamburger menu icon container*/
.hamburger-menu-icon {
  width: 60px;
  height: 60px;
  margin-right: auto;
  position: relative;  
  margin: 0;
}

/*Hamburger Icon (the 3 lines)*/
.hamburger-menu-icon span {
  height: 5px;
  width: 70%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%)
}
.hamburger-menu-icon span:nth-child(1) {
  top: 25%; 
}
.hamburger-menu-icon span:nth-child(3) {
  top: 75%; 
}

/*Hamburger Icon Transofrmed into an X when clicked*/
.hamburger-menu-icon.active span:nth-child(1) {
  top: 50%; 
  transition: .4s ease;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu-icon.active span:nth-child(3) {
  top: 50%; 
  transition: .4s ease;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*=======Logged in profile=======*/
.profile-container {
  height: 70px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px
}

.profile-pic {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

/*=====Unlogged in profile=====*/
.register-login-btn {
  background-color: rgb(0, 161, 0);
  padding: 5px;
  text-align: none;
  color: white;
  font-family: 'Arial';
  font-size: 20px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 0px 5px black;
}

/*--------------------------------Footer-------------------------------*/
/*========Main Footer=========*/
#container {
  border-color: red; 
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
}

#footer {
  background-color: rgb(56, 56, 56);
  border-top: 4px solid black;
  padding: 40px;
}

/*============Contents in footer==============*/
.mainFlexbox {
  display: flex;
  justify-content: space-around;
}

/*===============Logo and text==============*/
.logo-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-below-logo { 
  color: white;
  font-size: 18px;
  text-align: center;
}

.umlogo {
  width:60px; 
  height: 75px;

}

/*==============Browse Link Tabs==============*/
#browse-link {
  text-decoration: none;
  color: white;
}

.browse-container {
  display: flex;
  flex-direction: column;
}

/*================Contact Link Tabs================*/
#contact-link {
  color: white;
}

/*================Bottom Part of Footer after <hr>================*/

.bottomFlexbox {
  display: flex;
  align-items: center;
}

