.tab-box {
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items:center ;
            text-align: center;
            padding: 10px; 
            width: 150px;
            height: 90px;

            background-color: rgb(163, 229, 132);
            border: 6px solid rgb(59, 160, 13);
            border-radius: 15px;
        }

        .tab-box:hover {
            background-color: black;
            color: rgb(163, 229, 132);
            transition: .4s ease;
        }